.card
  = form_with(model: notice, local: true) do |form|
    - if notice.errors.any?
      #error_explanation
        %h2.alert.alert-danger
          = pluralize(notice.errors.count, "error")
          prohibited this notice from being saved:
        %ul
          - notice.errors.full_messages.each do |message|
            %li= message
    .field.form-group.m-3
      = form.label :title
      = form.text_field :title, class: 'form-control'
    .field.form-group.m-3
      = form.label :openings
      = form.number_field :openings, class: 'form-control'
    .field.form-group.m-3
      = form.label :author
      = form.text_field :author, class: 'form-control'
    .field.form-group.m-3
      = form.label :notes
      = form.text_area :notes, class: 'form-control'
    .field.form-group.m-3
      = form.label :reward
      = form.text_field :reward, class: 'form-control'
    .field.form-group.m-3
      = form.label :requester
      = form.text_field :requester, class: 'form-control'
    #sessions
      = form.fields_for :sessions do |session|
        = render 'session_fields', f: session
      = link_to_add_association 'Add another session', form, :sessions, class: 'btn float-right btn-primary btn-sm m-3'
    .actions.card-footer
      = form.submit 'Create Notice', class: 'btn btn-success btn-sm'
