<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @notice.title %>
</p>

<p>
  <strong>Sessions:</strong>
  <%= @notice.sessions %>
</p>

<p>
  <strong>Openings:</strong>
  <%= @notice.openings %>
</p>

<p>
  <strong>Author:</strong>
  <%= @notice.author %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @notice.notes %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @notice.reward %>
</p>

<p>
  <strong>Requester:</strong>
  <%= @notice.requester %>
</p>

<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
